{% extends 'common/page/layout/layout.tpl' %}

{% block header_content %}
<title>Tinker 系统</title>
{% endblock %}

{% block block_body %}
<div id="app">

</div>
{% endblock %}

{% block block_before_body_end %}

{% endblock %}
