.app{

}

.page-login{
    width: 600px;
    margin: 0 auto;
    padding: 50px 0;
}

.logo{
    display: inline-block;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.header-right-box{
    color: #fff;
    float: right;

    .user-name{
        margin-right: 30px;
    }
}